mat-list {
    list-style-type: none;
    text-align: center;
} * {
    margin: 0;
    padding: 0;
} mat-card {
    margin-top: 25%;
    text-align: center;
} img {
    height: 15%;
    width: 35%;
    float: left;
    margin-top: 20%;
} mat-card-title {
    margin-right: 25%;
} ul {
    margin-top: 10%;
    text-align: center;
    list-style-type: none;
} mat-tab-group {
    text-align: center;
} ul {
    list-style-type: none !important;
}