<mat-tab-group mat-align-tabs="center">
        <ul *ngFor="let res; let week of weeks; let i = index;">
            <mat-tab label="Week {{ week.weekNumber }}">
                <li><a [routerLink]="['/week', lesson.level, lesson.sessionNumber, week._id, week.weekNumber]">Week {{ week.weekNumber }}</a></li>
                <li>Warm Up:  {{ week.warmUpDescription }}</li>
                <li>Stretch:  {{ week.stretchDescription }}</li>
                <li>Kicks:  {{ week.kicksDescription }}</li>
                <li>Strikes:  {{ week.strikesDescription }}</li>
                <li>Blocks:  {{ week.blocksDescription }}</li>
                <li>Combos:  {{ week.combosDescription }}</li>
                <li>Forms:  {{ week.formDescription }}</li>
            </mat-tab>
        </ul>
</mat-tab-group>