<mat-tab-group mat-align-tabs="center">
        <ul *ngFor="let week of weeks; let i = index;">
            <mat-tab label="{{ week.weekNumber }}">
                <li>{{ week.warmUpDescription }}<button mat-button (click)=`nav(${week.level}, ${week.sessionNumber}, ${week.weekNumber})`>Upload</button></li>
                <li>{{ week.stretchDescription }}</li>
                <li>{{ week.kicksDescription }}</li>
                <li>{{ week.strikesDescription }}</li>
                <li>{{ week.blocksDescription }}</li>
                <li>{{ week.combosDescription }}</li>
                <li>{{ week.formDescription }}</li>
            </mat-tab>
        </ul>
</mat-tab-group>