<mat-card>
    <mat-card-title>
        <h1>Admin</h1>
    </mat-card-title>
    <mat-card-actions>
        <button mat-button><a href="/">Back</a></button>
        <button mat-button (click)="openDialog()">Add Weeks To The Lesson</button>
    </mat-card-actions>
    <mat-card-content>
        <form [formGroup]="adminForm" (ngSubmit)="submit()">
            <mat-card-content>
                <mat-label>Level</mat-label>
                <br>
                <mat-select placeholder="Choose A Level" [formControl]="adminForm.controls['level']">
                    <mat-option *ngFor="let level of levels" [value]="level.level">{{ level.level }}</mat-option>
                </mat-select>
            </mat-card-content>
            <mat-card-content>
                <mat-label>Session Number</mat-label>
                <br>
                <input type="text" placeholder="Session Number" formControlName="sessionNumber">
            </mat-card-content>
            <mat-card-content>
                <mat-label>Warm Up</mat-label>
                <br>
                <input matInput placeholder="Short Description" formControlName="warmUp" required>
                <br>
            </mat-card-content>
            <mat-card-content>
                <mat-label>Stretch</mat-label>
                <br>
                <input matInput placeholder="Short Description" formControlName="stretch" required>
                <br>
            </mat-card-content>
            <mat-card-content>
                <mat-label>Kicks</mat-label>
                <br>
                <input matInput placeholder="Short Description" formControlName="kicks" required>
                <br>
            </mat-card-content>
            <mat-card-content>
                <mat-label>Strikes</mat-label>
                <br>
                <input matInput placeholder="Short Description" formControlName="strikes" required>
                <br>
            </mat-card-content>
            <mat-card-content>
                <mat-label>Blocks</mat-label>
                <br>
                <input matInput placeholder="Short Description" formControlName="blocks" required>
                <br>
            </mat-card-content>
            <mat-card-content>
                <mat-label>Combos</mat-label>
                <br>
                <input matInput placeholder="Short Description" formControlName="combos" required>
                <br>
            </mat-card-content>
            <mat-card-content>
                <mat-label>Form</mat-label>
                <br>
                <input matInput placeholder="Short Description" formControlName="form" required>
                <br>
            </mat-card-content>
            <mat-card-actions>
                <button type="submit">Add New Lesson</button>
            </mat-card-actions>
        </form>
    </mat-card-content>
</mat-card>
