* {
    margin: 0;
    padding: 0;
} mat-card {
    text-align: center;
} input {
    text-align: center;
    width: 25%;
} img {
    height: 15%;
    width: 35%;
    float: left;
    margin-top: 20%;
} mat-card-title {
    margin-right: 25%;
} #link {
    margin-right: 25%;
}