* {
    margin: 0;
    padding: 0;
} img {
    height: 50%;
    width: 100%;
    margin-left: 15%;
    margin-top: 15%;
} ul {
    list-style-type: none;
    margin-top: 4%;
    font-size: 12px;
    margin-left: 4%;
    border-style: solid;
    margin: 5px;
    padding: 5px;
    text-align: center;
} #first {
    margin-top: 2.45%;
} .basic {
    background-color: yellow;
} .bbt1 {
    background-color: lightblue;
} .bbt2 {
    background-color: lightgreen;
} .bbt3 {
    background-color: brown;
} .header, a {
    background-color: black;
    color: white;
} a {
    text-decoration: none;
} img {
    margin-top: 40px;
} .admin {
    background-color: white !important;
    margin-left: 20%;
}