<div id="first" fxLayout="column" fxLayoutAlign="space-between">
    <div fxLayout="row" fxLayoutAlign="start">
        <ul class="basic">
            <li class="header">Basic</li>
            <li>Warm Up</li>
            <li>Stretch</li>
            <li>Kicks</li>
            <li>Strikes</li>
            <li>Blocks</li>
            <li>S/D</li>
            <li>Material</li>
        </ul>
        <ul class="basic" *ngFor="let lesson of basic">
            <li class="header"><a [routerLink]="['/', lesson._id]">{{ lesson.sessionNumber }}</a></li>
            <li>{{ lesson.warmUp }}</li>
            <li>{{ lesson.stretch }}</li>
            <li>{{ lesson.kicks }}</li>
            <li>{{ lesson.strikes }}</li>
            <li>{{ lesson.blocks }}</li>
            <li>{{ lesson.combos }}</li>
            <li>{{ lesson.form }}</li>
        </ul>
        <a class="admin" routerLink="/admin"><img mat-card-image src="../../assets/villarisimage.png"></a>
    </div>
</div>
<div fxLayout="column" fxLayoutAlign="space-between">
    <div fxLayout="row" fxLayoutAlign="start start">
        <ul class="bbt1">
            <li class="header">BBT 1</li>
            <li>Warm Up</li>
            <li>Stretch</li>
            <li>Kicks</li>
            <li>Review</li>
            <li>Strikes</li>
            <li>Ju Jitsu</li>
            <li>F/C</li>
        </ul>
        <ul class="bbt1" *ngFor="let lesson of bbt1">
            <li class="header"><a [routerLink]="['/', lesson._id]">{{ lesson.sessionNumber }}</a></li>
            <li>{{ lesson.warmUp }}</li>
            <li>{{ lesson.stretch }}</li>
            <li>{{ lesson.kicks }}</li>
            <li>{{ lesson.strikes }}</li>
            <li>{{ lesson.blocks }}</li>
            <li>{{ lesson.combos }}</li>
            <li>{{ lesson.form }}</li>
        </ul>
    </div>
</div>
<div fxLayout="column" fxLayoutAlign="space-between">
    <div fxLayout="row" fxLayoutAlign="start start">
        <ul class="bbt2">
            <li class="header">BBT 2</li>
            <li>Warm Up</li>
            <li>Stretch</li>
            <li>Kicks</li>
            <li>Review</li>
            <li>S/D</li>
            <li>Combos</li>
            <li>Form</li>
        </ul>
        <ul class="bbt2" *ngFor="let lesson of bbt2">
            <li class="header"><a [routerLink]="['/', lesson._id]">{{ lesson.sessionNumber }}</a></li>
            <li>{{ lesson.warmUp }}</li>
            <li>{{ lesson.stretch }}</li>
            <li>{{ lesson.kicks }}</li>
            <li>{{ lesson.strikes }}</li>
            <li>{{ lesson.blocks }}</li>
            <li>{{ lesson.combos }}</li>
            <li>{{ lesson.form }}</li>
        </ul>
    </div>
</div>
<div fxLayout="column" fxLayoutAlign="space-between">
    <div fxLayout="row" fxLayoutAlign="start start">
        <ul class="bbt3">
            <li class="header">BBT 3</li>
            <li>Warm Up</li>
            <li>Stretch</li>
            <li>Kicks</li>
            <li>Review</li>
            <li>S/D</li>
            <li>Combos</li>
            <li>Form</li>
        </ul>
        <ul class="bbt3" *ngFor="let lesson of bbt3">
            <li class="header"><a [routerLink]="['/', lesson._id]">{{ lesson.sessionNumber }}</a></li>
            <li>{{ lesson.warmUp }}</li>
            <li>{{ lesson.stretch }}</li>
            <li>{{ lesson.kicks }}</li>
            <li>{{ lesson.strikes }}</li>
            <li>{{ lesson.blocks }}</li>
            <li>{{ lesson.combos }}</li>
            <li>{{ lesson.form }}</li>
        </ul>
    </div>
</div>